<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <iframe frameborder="0" id="game" src="https://itch.io/embed-upload/6883122?color=333333" allowfullscreen=""
        width="960" height="620"><a href="https://kunrikkun.itch.io/spaceship-to-crux">Play Spaceship to Crux on
            itch.io</a></iframe>
    <!-- add button after 10 second to go to map -->

</body>
<script>

    // button style
    
    setTimeout(function () {
        var button = document.createElement("button");
        button.innerHTML = "Go to Map";
        button.onclick = function () {
            window.location.href = "/map";
        }
        document.body.appendChild(button);
    }, 10000);



    window.onload = function () {
        document.getElementById("game").style.height = window.innerHeight - 100 + "px";
        document.getElementById("game").style.width = window.innerWidth + "px";
    }
</script>

</html>