<%- include("./head.ejs") %> 
<html lang="en">
    <%- include("./head.ejs") %> 
    <%- include("./nav.ejs") %> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        html, body {
            background-color: #333333!important;
        }
        .button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100%;
        }
        .center{
            margin: 0 auto;
        }
        #button{
            border-radius: 10px;
            border-color: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
        }
    </style>
</head>

<body>
<iframe class="center" frameborder="0" src="https://v6p9d9t4.ssl.hwcdn.net/html/6890098/index.html" width="1200" height="800"><a href="https://kunrikkun.itch.io/spaceship-to-crux">Spaceship to Crux by Kunrikkun</a></iframe>
    <div class="button">
        </div>
</body>
<script>

    
    setTimeout(function () {
        var buttonMap = document.createElement("button");
        var buttonPlay = document.createElement("button");
        var buttonRestart = document.createElement("button");
        buttonMap.setAttribute("id", "button");
        buttonPlay.setAttribute("id", "button");
        buttonPlay.innerHTML = "Play Again";
        buttonMap.innerHTML = "Go to Map";
        buttonMap.onclick = function () {
            window.location.href = "/map";
        }
        buttonPlay.onclick = function () {
            window.location.href = "/game";
        }
        document.getElementsByClassName("button")[0].appendChild(buttonMap);
        document.getElementsByClassName("button")[0].appendChild(buttonPlay);
    }, 10000);



    window.onload = function () {
        document.getElementById("game").style.height = window.innerHeight - 100 + "px";
        document.getElementById("game").style.width = window.innerWidth + "px";
    }
</script>

</html>