<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.cdnfonts.com/css/star-guard" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/super-legend-boy" rel="stylesheet">
    <link href="/star.css" rel="stylesheet">
</head>




<style>
    html{
        display: block;
    }
    .text {
        position: fixed !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
    }

    .title {
        font-family: 'Star Guard', sans-serif;
        font-size: 15vh;
        color: yellow;
        letter-spacing: 4px;
        text-shadow: -4px 5px 0px red;
        text-align: center;
        margin: auto;
        margin-bottom: 2rem;

    }
    .title:hover{
        color: red;
        text-shadow: -4px 5px 0px yellow;
        transform: scale(1.1);
    }
    .description {
        font-family: 'Super Legend Boy', sans-serif;
        font-size: 2.5vh;
        color: yellow;
        text-align: center;
        /* add animation */
        animation: blink 1s ease-in-out infinite;
        

    }
    @keyframes blink {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .description:hover{
        color: red;
        transform: scale(1.1);
    }

    
</style>

<body>

        <div class="bg-animation">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
            <div id="stars4"></div>
        
    <div class="text">
        <h1 class="title">CRUX*EXPO</h1>
        <h2 class="description">Press Any Button To Start</h2>
    </div></div>  

    <script>
        // press any key to start
        document.addEventListener('keydown', function(event) {
            window.location.href = '/game';
        });
        // onclick start
        document.addEventListener('click', function(event) {
            window.location.href = '/game';
        });


    </script>
</body>

</html>