<%- include("./head.ejs") %> 
<%- include("./nav.ejs") %> 
<body>
    <div id="map" ></div>
    
    <input type="radio" name="choose" value="hand"onchange="choose()">
    <label for="Hand">Hand</label>
    <input type="radio" name="choose" value="marker"onchange="choose()">
    <label for="Markers">Markers</label><br>
    <input type="radio" name="choose" value="line"onchange="choose()">
    <label for="Polyline">Polyline</label><br>
    <input type="radio" name="choose" value="polygon"onchange="choose()">
    <label for="Polyline">polygon</label><br>
    <input type="radio" name="choose" value="rectangle"onchange="choose()">
    <label for="Polyline">rectangle</label><br>
    <input type="radio" name="choose" value="circle"onchange="choose()">
    <label for="Polyline">circle</label><br>
    <div class="warning"></div>
    <button onclick="reset()">clear</button>
    <button onclick="save()">Save</button>
    <button onclick="get()">Load</button>


    <%- include("./column.ejs") %> 



</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="script.js">

 
</script>
</html>