*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;
}
#map { 
    height: 80vh;
    width: 100%;
    margin: 5rem auto;
}
.card{
    white-space: nowrap;
    
}
.accordion{
    margin-bottom: 5rem;
}

.collapse{
    margin: 2rem auto;
    width: 90%;
}



